@charset "UTF-8";

@font-face {
  font-family: "jdnextgen";
  src:url("../fonts/jdnextgen.eot");
  src:url("../fonts/jdnextgen.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jdnextgen.woff") format("woff"),
    url("../fonts/jdnextgen.ttf") format("truetype"),
    url("../fonts/jdnextgen.svg#jdnextgen") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "jdnextgen" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="jdicon-"]:before,
[class*=" jdicon-"]:before {
  font-family: "jdnextgen" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jdicon-3-dot-menu:before {
  content: "\61";
}
.jdicon-ai-logo:before {
  content: "\62";
}
.jdicon-apps-menu:before {
  content: "\63";
}
.jdicon-bar-graph-circle:before {
  content: "\64";
}
.jdicon-calendar:before {
  content: "\65";
}
.jdicon-category-list:before {
  content: "\67";
}
.jdicon-category-list-outline:before {
  content: "\68";
}
.jdicon-checkbox-checked:before {
  content: "\69";
}
.jdicon-checkbox-unchecked:before {
  content: "\6a";
}
.jdicon-clip:before {
  content: "\6b";
}
.jdicon-close:before {
  content: "\6c";
}
.jdicon-cloud:before {
  content: "\6d";
}
.jdicon-delete:before {
  content: "\6e";
}
.jdicon-details-thumbnail-list:before {
  content: "\6f";
}
.jdicon-dialogue:before {
  content: "\70";
}
.jdicon-documents:before {
  content: "\71";
}
.jdicon-dot:before {
  content: "\72";
}
.jdicon-down:before {
  content: "\73";
}
.jdicon-down-arrow:before {
  content: "\74";
}
.jdicon-carret:before {
  content: "\66";
}
.jdicon-download:before {
  content: "\75";
}
.jdicon-download-file:before {
  content: "\76";
}
.jdicon-download-preserve:before {
  content: "\77";
}
.jdicon-edit-document:before {
  content: "\78";
}
.jdicon-eye-closed-fill:before {
  content: "\79";
}
.jdicon-eye-open-fill:before,.jdicon-eye-closed-fill.active:before {
  content: "\41";
}
.jdicon-file-cabinet:before {
  content: "\42";
}
.jdicon-filter:before {
  content: "\43";
}
.jdicon-full-thumbnail-list:before {
  content: "\44";
}
.jdicon-funnel:before {
  content: "\45";
}
.jdicon-gear:before {
  content: "\46";
}
.jdicon-heart:before {
  content: "\47";
}
.jdicon-heart-filled:before {
  content: "\48";
}
.jdicon-hierarchy:before {
  content: "\49";
}
.jdicon-home:before {
  content: "\4a";
}
.jdicon-image-dummy:before {
  content: "\4b";
}
.jdicon-info:before {
  content: "\4c";
}
.jdicon-info-circle:before {
  content: "\4d";
}
.jdicon-question-circle:before {
  content: "\4e";
}
.jdicon-psd-logo:before {
  content: "\4f";
}
.jdicon-ps-logo:before {
  content: "\50";
}
.jdicon-plus-circle:before {
  content: "\51";
}
.jdicon-plus:before {
  content: "\52";
}
.jdicon-pencil:before {
  content: "\53";
}
.jdicon-package-ready:before {
  content: "\54";
}
.jdicon-notification:before {
  content: "\55";
}
.jdicon-minus-circle:before {
  content: "\56";
}
.jdicon-minus:before {
  content: "\57";
}
.jdicon-menu:before {
  content: "\58";
}
.jdicon-mail:before {
  content: "\59";
}
.jdicon-location:before {
  content: "\5a";
}
.jdicon-radio-checked:before {
  content: "\30";
}
.jdicon-radio-unchecked:before {
  content: "\31";
}
.jdicon-recycle:before {
  content: "\32";
}
.jdicon-recycle-thick:before {
  content: "\33";
}
.jdicon-search:before {
  content: "\34";
}
.jdicon-share:before {
  content: "\35";
}
.jdicon-small-thumbnail-list:before {
  content: "\36";
}
.jdicon-sort-asc:before {
  content: "\37";
}
.jdicon-sort-desc:before {
  content: "\38";
}
.jdicon-tag:before {
  content: "\39";
}
.jdicon-time-history:before {
  content: "\22";
}
.jdicon-up:before {
  content: "\23";
}
.jdicon-upload:before {
  content: "\24";
}
.jdicon-user-circle:before {
  content: "\25";
}
.jdicon-thumbnail-selection-grey:before {
  content: "\21";
}
.jdicon-eye-open:before {
  content: "\7a";
}
.jdicon-music:before {
  content: "\26";
}
.jdicon-envelope-o:before {
  content: "\28";
}
.jdicon-zip-folder:before {
  content: "\2a";
}
